<el-row>
    <el-col :span="24">
        <el-menu theme="dark" class="re-header-bar" mode="horizontal">
            <el-menu-item index="1" style="color: #fff; font-size: 1.7em;">
                <i class="fa fa-th-large fa-lg" style=""></i>
                <em style="">物业管理后台</em>
            </el-menu-item>
            <el-menu-item>
                <a>{{empName}}:&nbsp;{{empNo}}</a>
            </el-menu-item>
            <el-menu-item>
                <a href="#" @click.stop.prevent="logout">注销</a>
            </el-menu-item>
        </el-menu>
    </el-col>
</el-row>