<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.liuwei.yeb.api.mapper.StaffMapper">

    <select id="selectStaff" resultType="com.liuwei.yeb.api.entity.Staff">
        select * from t_staff where 1=1
        <if test="staffName!=null and staffName!=''">
        and staff_name = #{staffName}
        </if>
    </select>

    <select id="selectStaffByMap" resultType="com.liuwei.yeb.api.entity.Staff" parameterType="java.util.Map">

        select * from t_staff where 1=1
        <if test="arg1.staffName!=null and arg1.staffName!=''">
            and staff_name = #{arg1.staffName}
        </if>
    </select>

</mapper>